<h1>New Collection</h1>

<%= render 'form' %>

<div class="button-bar">
  <ul class="button-group round">
    <li><%= link_to ' Collections', collections_path, :class => "fi-list icon-small small button secondary" %></li>
  </ul>
</div>

